<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EmpServiceBehaviourRRR">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EmpServiceBehaviour">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="basicWebHttpBinding" maxReceivedMessageSize="2147483644">
          <readerQuotas maxArrayLength="2147483644" maxStringContentLength="2147483644" />
          <security mode ="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="jsonwcfservice.GetEmployees" behaviorConfiguration="EmpServiceBehaviour">
        <endpoint address ="" binding="webHttpBinding" bindingConfiguration="basicWebHttpBinding" contract="jsonwcfservice.IGetEmployees" behaviorConfiguration="EmpServiceBehaviour">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>